@import '~antd/dist/antd.css';

.App {
  text-align: center;
  min-height: 100vh;
  padding-top: 80px;
  background-image: url(./assets/bg-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-main {
  margin: 45px auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #4f4f4f;
}

.StatisticWrap {
  margin-top: 0px;
  width: 60%;
  background: #fff4f4;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(98, 96, 226);
  padding: 2rem;
}
.TextBookWrap {
  max-width: 90%;
  background: #b772f027;
  padding: 0 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.text_book {
  min-height: 100vh;
  /*display: flex;*/
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.text_book__header {
  /*top: 0; */
  left: 0;
  width: 100%;
  height: 90%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  background-size: cover;
}
.logo-text {
  background-color: rgba(84, 105, 223, 0.589);
  border-radius: 0px 50px 50px 0px;
  padding: 15px 30px;
}
.text_book__header_wrapper {
  position: relative;
  height: 20vh;
}
.hidden {
  display: none;
}
.icon-text {
  width: 100%;
  display: flex;
  color: white;
  font-size: 4.7em;
  font-weight: 900;
  font-family: 'Inconsolata', monospace;
  align-items: center;
}
.menu-burger {
  width: 7%;
  height: 7%;
  margin-right: 4%;
}
.ant-btn-circle {
  border-radius: 20px;
  background-color: #6f98f1b6;
  border: none;
  width: 42%;
  height: 7em;
  padding: 7px;
  font-family: 'Inconsolata', monospace;
}
i {
  font-size: 55px;
  color: rgba(84, 105, 223, 0.589);
  padding: 2%;
}
.svg_main {
  position: absolute;
  left: 0;
  bottom: 0%;
  width: 100%;
  height: 30%;
}
.text_book__title_wrapper {
  max-height: 190px;
}
.text_book__title {
  font-family: 'Inconsolata', monospace;
  font-weight: 900;
  font-size: var(--font6);
}
.text_book__subtitle {
  margin-bottom: 30px;
}
.text_book__subtitle {
  font-family: 'Inconsolata', monospace;
  font-size: 1.5em;
  font-weight: 300;
}

.text_book__levels {
  min-height: 12vh;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
  justify-content: space-between;
  align-items: center;
}
.text_book__level_card {
  height: 100px;
  min-width: 220px;
  /*background-color: #f3f4f8;*/
  display: flex;
  border-radius: 0.5rem;
  color: #2c2647;
  font-size: var(--font3);
  font-family: 'Gilroy-Heavy';
  justify-content: space-between;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1.2rem;
  position: relative;
  align-items: center;
  overflow: hidden;
  border: none;
  cursor: pointer;
  font-family: 'Inconsolata', monospace;
  font-size: var(--font3);
}
.white {
  color: white;
}
.left-part {
  margin-right: 20px;
}
.square-part {
  height: 150%;
  width: 100%;
  position: absolute;
  top: -5rem;
  right: -3.5rem;
  overflow: hidden;
  transform: rotate(45deg);
}
.right-part {
  z-index: 1;
  color: #929697;
  font-size: 50px;
  font-weight: 200;
}
.text_book__header_icons {
  width: 12%;
  height: 25%;
  background-color: rgba(84, 105, 223, 0.589);
  border-radius: 20px;
  position: absolute;
  right: 11%;
  font-size: 25px;
  display: none;
}
.text_book__header_icons * {
  color: white;
}
.text__book_word-container {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;

  margin: auto;
}
.text__book_word-greed {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  width: 70%;
  height: 100%;
}
.text__book_word {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem 0 0 1rem;
  background-color: #f3f4f8;
  border-radius: 5px;
  border: none;
  overflow: hidden;
  transition: all 0.3s;
  padding: 16%;
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
  height: 100%;
  font-weight: 900;
}
.text__book_word_group6 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f3f4f8;
  border-radius: 5px;
  border: none;
  overflow: hidden;
  transition: all 0.3s;
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
  font-weight: 900;
}
.text__book_word_wrapper_group6 {
  width: 12%;
}

.text__book_word p {
  margin-bottom: 0;
  font-size: var(--font3);
  text-align: left;
}
.text__book_word_wrapper {
  width: 22%;
}
.text__book_word-details {
  color: #2c2647;
  background-color: #f3f4f8;
  width: 33%;
  box-shadow: none;
  border-top-left-radius: 11rem;
}
.ant-pagination-options-size-changer.ant-select {
  display: none;
  width: auto;
}
.ant-pagination {
  margin: 30px 0;
  font-family: 'Inconsolata', monospace;
  font-size: 25px;
}
.ant-pagination-item-active {
  background-color: #ffc53d;
  border-radius: 35px;
}
.ant-pagination-item-active a {
  color: black;
}
.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
  display: block;
  width: 116%;
  font-size: 26px;
  text-align: center;

  border: none;
  border-radius: 2px;
  outline: none;
  transition: all 0.3s;
  padding: 3px;
}

.ant-pagination-item {
  border: none;
  padding: 3px;
  width: 3%;
}
.ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-ellipsis,
.ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-ellipsis {
  position: absolute;
  top: 29%;
}

.text__book_word_translate {
  font-size: 23px;
  font-weight: 400;
}

.text_book__level_card:hover .gray,
.text_book__level_card:active .gray {
  background: rgb(191, 208, 211);
}

@media screen and (max-width: 1770px) {
  .text_book__levels {
    gap: 0.9rem;
  }
  .text_book__level_card {
    min-width: 480px;
  }
}

.active-yellow {
  background-color: #ffc53d;
}
.active-green {
  background-color: rgba(8, 187, 133, 0.904);
}

.active-blue {
  background-color: rgb(86, 128, 243);
}

.active-pink {
  background: rgb(243, 106, 129);
}
.active-violet {
  background: rgb(188, 106, 243);
}
.active-aqua {
  background: rgb(106, 222, 243);
}
.active-grey {
  background: rgb(191, 208, 211);
}
