:root {
  --font1: 16px;
  --font2: 18px;
  --font3: 24px;
  --font4: 32px;
  --font5: 48px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
@media screen and (max-width: 1500px) {
  :root {
    --font1: 14px;
    --font2: 16px;
    --font3: 20px;
    --font4: 28px;
    --font5: 32px;
  }
}
@media screen and (max-width: 1124px) {
  :root {
    --font1: 14px;
    --font2: 16px;
    --font3: 20px;
    --font4: 28px;
    --font5: 24px;
  }
}
@media screen and (max-width: 900px) {
  :root {
    --font1: 14px;
    --font2: 16px;
    --font3: 20px;
    --font4: 28px;
    --font5: 20px;
  }
}
@media screen and (max-width: 320px) {
  :root {
    --font1: 14px;
    --font2: 16px;
    --font3: 20px;
    --font4: 28px;
    --font5: 16px;
  }
}
