.game-field {
  padding: 50px;
  width: 1000px;
  height: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #ddf1f0;
  position: relative;
  border-radius: 15px;
  color: #4f4f4f;
  font-family: 'Inconsolata', monospace;
}

.fa-stopwatch {
  transition: 0.3s;
}

.fa-stopwatch-big {
  transform: scale(1.5);
}

.game-timer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.game-seconds {
  font-size: 40px;
  display: block;
  white-space: nowrap;
}

.game-word-translate,
.game-buttons {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  word-wrap: break-word;
}

.game-word,
.game-translate {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  font-size: 50px;
}

.game-buttons {
  gap: 0;
}

#game-left-button:hover {
  background-color: rgb(71, 197, 143);
  color: #4f4f4f;
}
#game-right-button,
#game-left-button {
  color: #949090;
  font-size: var(--font4);
  background-color: #fffbff;
  border: none;
  margin: 0 20px;
  height: 50px;
  border-radius: 15px;
}
#game-right-button:hover {
  background-color: rgb(233, 108, 145);
  color: #4f4f4f;
}
.game-result-translate {
  color: grey;
}
#game-right-button:active,
#game-left-button:active,
#game-right-button:focus,
#game-left-button:focus {
  border: none;
  color: #4f4f4f;
}
.title-count-wrong {
  padding: 0 0.5rem 0 0.5rem;
  border-radius: 1rem;
  background-color: rgb(243, 135, 176);
}

.title-count-correct {
  padding: 0 0.5rem 0 0.5rem;
  border-radius: 1rem;
  background-color: rgb(175, 226, 163);
}

.game-score {
}

.game-points-per-word {
  margin-bottom: 10px;
}

.game-checkmark {
  color: rgb(0, 255, 13);
}

.game-checkmark-grey {
  color: grey;
}
@media (max-width: 800px) {
  .game-field {
    width: 600px;
  }
  .game-word,
  .game-translate {
    font-size: 30px;
  }
}
