.game-field {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: rgb(98, 96, 226); */
}

.fa-stopwatch {
  color: white;

}

.game-seconds {
  color: white;
  font-size: 50px;
}

.game-word-translate,
.game-buttons {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

.game-word,
.game-translate {
color: white;
font-size: 60px;
}

.game-buttons {
  gap: 0;
}

.game-left-button {
  background-color: rgb(71, 155, 71);
  color: white;
}

.game-right-button {
  background-color: rgb(218, 76, 76);
  color: white;
}

.game-result-translate {
  color: grey;
}

.title-count-wrong {
  padding: 0 0.5rem 0 0.5rem;
  border-radius: 1rem;
  background-color: rgb(201, 46, 46);
}

.title-count-correct {
  padding: 0 0.5rem 0 0.5rem;
  border-radius: 1rem;
  background-color: rgb(45, 122, 25);
}