.game-container {
  /* background-color: rgb(98, 96, 226); */
  width: 100%;
  height: 600px;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.game-text-container {
  margin: 0 auto;
  width: 60%;
}

.game-title {
  font-size: 60px;
  font-weight: bold;
}

.game-rules {
  font-size: 20px;
}

.game-level-selector {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.level-button {
  margin-right: 1rem;
  color: white;
}

.game-start-button {
  max-width: 100px;
  margin: 0 auto;
}