.game-field {
  width: 1000px;
  height: 400px;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.fa-stopwatch {
  color: white;
  transition: 0.3s;
}

.fa-stopwatch-big {
  transform: scale(1.5);
}

.game-timer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.game-seconds {
  color: white;
  font-size: 40px;
  display: block;
  white-space: nowrap;
}

.game-word-translate,
.game-buttons {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  word-wrap: break-word;
}

.game-word,
.game-translate {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: white;
  font-size: 50px;
}

.game-buttons {
  gap: 0;
}

.game-left-button {
  background-color: rgb(71, 155, 71);
  color: white;
}

.game-right-button {
  background-color: rgb(218, 76, 76);
  color: white;
}

.game-result-translate {
  color: grey;
}

.title-count-wrong {
  padding: 0 0.5rem 0 0.5rem;
  border-radius: 1rem;
  background-color: rgb(201, 46, 46);
}

.title-count-correct {
  padding: 0 0.5rem 0 0.5rem;
  border-radius: 1rem;
  background-color: rgb(45, 122, 25);
}

.game-score {
  color: white;
}

.game-points-per-word {
  margin-bottom: 10px;
}

.game-checkmark {
  color: rgb(0, 255, 13);
}

.game-checkmark-grey {
  color: grey;
}
@media (max-width: 800px) { 
  .game-field {
    width: 600px;
  }
  .game-word,
  .game-translate {
    font-size: 30px;
  }
}
