.audio-wrap {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.fa-volume-up {
  cursor: pointer;
}
.audiocall-modal {
  position: absolute;
  top: 15%;
  margin: 50px 0 0 -50px;
  width: 100%;
}
.green {
  border-color: rgb(18, 240, 25);
  background: 'green';
}
.black {
  border-color: rgb(0, 0, 0);
  background: 'black';
}
.red {
  border-color: rgb(226, 2, 2);
  background: 'red';
}

#volumeAudioCall {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}
#volumeAudioCall::before {
  font-size: 200px;
}
.answer-wrap {
  margin: 0 auto;
}
/* .show-words-image {

} */
.show-word,
.show-translate {
  margin: 10px 0 0;
}

.question-btn-wrap {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin: 20px auto;
}
#answerBtn1,
#answerBtn2,
#answerBtn3,
#answerBtn4,
#answerBtn5 {
  font-size: var(--font3);
  height: 50px;
}
.show-words-image {
  width: 50%;
  margin: 0 auto;
}
.answer {
  font-weight: 900;
  font-size: var(--font4);
}
.next-btn {
  border: none;
  font-size: var(--font4);
  color: #fffbff;
  background-color: #9a5fa8;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 5px;
}
