.logo-rs-lang {
  background: none;
  background-image: url(./../../assets/logo-rs-lang.svg);
  height: 50px;
  width: 50px;
  background-size: contain;
}
.Header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  height: 70px;
  width: 100%;
  background: rgba(251, 248, 248, 0.8);
  box-shadow: 2px 0 20px 1px rgba(0, 0, 0, 0.4);
}
