.nav-list {
  display: flex;
  margin: auto 0;
  list-style: none;
}
.Navigation {
  display: flex;
  align-items: baseline;
}
button[ant-click-animating-without-extra-node]:after {
  border: 0 none;
  opacity: 0;
  /* animation: none 0 ease 0 1 normal; */
}
a {
  color: #4f4f4f;
}
a:active {
  color: #262ac1;
}
a:hover {
  color: #4f4f4f;
}
