* {
  margin: 0;
  padding: 0;
}

.text_book__word {
  font-size: 20px;
  font-family: 'Inconsolata', monospace;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
}

.text_book__word-image {
  display: block;
  border-radius: 3rem 0 3rem 0;
}

.text_book__word-word {
  font-size: 2.5rem;
  font-family: 'Inconsolata', monospace;
}

.text_book__word-translate {
  font-size: 1.5rem;
}

.text_book__word-transcription-audio-button {
  display: flex;
  flex-direction: row;
}

.text_book__word-transcription {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.text_book__word-audio-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.text_book__word-title {
  font-size: 1.5rem;
}

.text_book__word-text-example,
.text_book__word-text-example-translate,
.text_book__word-text-meaning,
.text_book__word-text-meaning-translate {
  font-size: 1rem;
}

.text_book__word-text-meaning i {
  font-size: 1rem;
  color: black;
}